/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
  --contrast:#000000 ;
  --backgr: #FFFDFD ;
  --pink: #FCD2E8;
  --sage: #97B77F;
}

main {
  color: var(--contrast);
  background-color: var(--backgr);
}

/*Optimised for Mobile devices with width between 320px to 800px*/
@media (min-width: 320px),(max-width:500px) {

h1, h2, h3, h4, h5, h6{
 font-family: "italiana", sans-serif;
}

/* v Header Mobil menu v */
#menu-logo {
  width: 4rem;
  margin-bottom: 0.1rem;
}

#menu-titel {
  font-size: 1.5rem;
}

.entire-mobil-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.mobil-menu {
  overflow: visible;
  background-color: var(--backgr);
  position: relative;
}

#menu-links {
  display: none;
  font-family: "Kaisei Decol", serif;
}

.mobil-menu a {
  color: var(--contrast);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  float:left;
}

.mobil-menu a.icon {
  background: var(--pink);
  display: block;
  border-radius: 10px;
  position: relative;
  margin-top: 0.4rem;
}

.mobil-menu a:hover {
  background-color: var(--pink);
  color: var(--contrast);
  border-radius: 10px;
}

/* ^Header Mobil menu^ */

h2 {
  font-weight: 700;
  font-size: 1.6rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
}

p {
  font-family: "Kaisei Decol", serif;
  font-size: 0.8rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}

#hero {
display: flex;
width: 100%;
margin: 0;
border-radius: 10px;
}

#hero-tekst {
  display: flex;
  text-align: center;
}

#produkt-intro {
  display: flex;
  text-align: center;
  font-weight: 900;
  font-size: small;
}

.produkt-forside-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--pink);
  border-radius: 20px;
  text-align: center;
}

.produkt-img {
  display: block;
  width: 95%;
  border-radius: 20px;
  margin: auto;
}

.button {
background-color: var(--backgr);
border: none;
border-radius: 5px;
color: var(--contrast);
padding: 0.3rem 1.5rem;
margin: auto;
text-align: center;
font-family: "Kaisei Decol", serif;
font-weight: 600;
transition-duration: 0.4s;
cursor: pointer;
}

#button2 {
  margin-bottom: 1rem;
}

.button:hover {
  background-color: var(--sage)
}
}

@media (min-width: 501px) {

/*Header Desktop CSS*/

  .mobil-menu a.icon {
    display: none;
  }

  #menu-titel {
    font-weight: bold;
    margin: auto;
  }

  #menu-links {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 0;
  }

  .entire-mobil-menu {
    justify-content: space-between;
  }

/*Header Desktop CSS*/

  .produkt-img {
    display: flex;
    flex-direction: row;
    width: 95%;
    border-radius: 20px;
    margin: auto;
  }

  #produkt-intro {
    font-size: larger;
  }

  .produkt-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .desktop-row {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    background-color: var(--pink);
    border-radius: 20px;
    text-align: center;
  }

  #pink-juice {
    padding-bottom: 1rem;
  }

  #hero-tekst {
    display: flex;
    text-align: center;
    font-size: large;
  }
  
}