/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
  --contrast:#000000 ;
  --backgr: #FFFDFD ;
  --pink: #FCD2E8;
  --sage: #97B77F;
}

main {
  color: var(--contrast);
  background-color: var(--backgr);
}

h1, h2, h3, h4, h5, h6{
 font-family: "italiana", sans-serif;
}

p {
 font-family: "Kaisei Decol", serif;
}

#billede1
{display: flex;
  justify-content: center;
  align-items: center;
}


h1 {display: flex;
justify-content: center;
align-items: center;}

#trebilleder {display: flex;
flex-direction: row;
height: 300px; width: auto;
}

#trebilleder {justify-content: space-around;}

 {height: 100px width:auto;}

#billede1 {margin: auto;
border-radius: 10%;}

#billede2 {border-radius: 10%;}

#billede3 {border-radius: 10%;}

#billede4 {border-radius: 10%;}

@media (max-width: 500px) {
  
  
  #billede1{
    max-width: 100%;
  }
  #billede2{
    max-width: 100%;
  }
  #billede3{
    max-width: 100%;
  }
  #billede4{
    max-width: 100%;
    max-height: auto;
    margin-left: 13%;
    margin-right: auto;
    
  }
  #trebilleder{
    display: block;
    max-width: 90%;
  }
}

@media (min-width: 320px),(max-width:500px) {

  
#menu-logo {
  width: 4rem;
  margin-bottom: 0.1rem;
}

#menu-titel {
  font-size: 1.5rem;
}

.entire-mobil-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.mobil-menu {
  overflow: visible;
  background-color: var(--backgr);
  position: relative;
}

#menu-links {
  display: none;
  font-family: "Kaisei Decol", serif;
}

.mobil-menu a {
  color: var(--contrast);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  float:left;
}

.mobil-menu a.icon {
  background: var(--pink);
  display: block;
  border-radius: 10px;
  position: relative;
  margin-top: 0.4rem;
}

.mobil-menu a:hover {
  background-color: var(--pink);
  color: var(--contrast);
  border-radius: 10px;
}
}
/* ^Header Mobil menu^ */

@media (min-width: 501px) {

  /*Header Desktop CSS*/
  
    .mobil-menu a.icon {
      display: none;
    }
  
    #menu-titel {
      font-weight: bold;
      margin: auto;
    }
  
    #menu-links {
      display: flex;
      margin-top: 0.5rem;
      margin-left: 0;
    }
  
    .entire-mobil-menu {
      justify-content: space-between;
    }
    }
  
  /*Header Desktop CSS*/
  
