/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
  --contrast: #FFFDFD;
  --backgr:  #000000;
  --pink: #FCD2E8;
  --sage: #97B77F;
}


main {
  color: var(--contrast);
  background-color: var(--backgr);
}
