/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
  --contrast:#000000 ;
  --backgr: #FFFDFD ;
  --pink: #FCD2E8;
  --sage: #97B77F;
}

main {
  color: var(--contrast);
  background-color: var(--backgr);
}

h1, h2, h3, h4, h5, h6{
 font-family: "italiana", sans-serif;
}

p {
 font-family: "Kaisei Decol", serif;
}